<html>
    <head>
        <link rel="stylesheet" href="../css/style.css">

        <!-- Icons -->
        <link rel="stylesheet" href="https://fonts.sandbox.google.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
        <!-- Style Icons -->
        <style>
            .material-symbols-outlined {
              font-variation-settings:
              'FILL' 0,
              'wght' 100,
              'GRAD' 0,
              'opsz' 48
            }
        </style>
    </head>

    <body>

        <span class="material-symbols-outlined toggle-nav-closed" onclick="toggleSidebar()">indeterminate_check_box</span>


        <nav id="mySidenav" class="sidenav">
            <div class="navContent">
            <a href="/" class="logo-a"><img src="../images/logo.jpg" alt="scribblenotes logo" class="logo"></a>
            
            <% if (locals.user) { %>
                <!-- If user is logged in, show these links -->
                
                <a href="/">
                    <span>
                        <i class="material-symbols-outlined">dashboard</i>
                        <span class="icon-text">Dashboard</span>
                    </span>
                </a>

                <a href="/subscriptions">
                    <span>
                        <i class="material-symbols-outlined">storefront</i>
                        <span class="icon-text">Shop</span>
                    </span>
                </a>

                <a href="/user_settings">
                    <span>
                        <i class="material-symbols-outlined">manage_accounts</i>
                        <span class="icon-text">Settings</span>
                    </span>
                </a>

                <% if (isAdmin) { %>
                    <a href="/admin">
                        <span>
                            <i class="material-symbols-outlined">settings</i>
                            <span class="icon-text">Admin</span>
                        </span>
                    </a>
                <% } %>
                

                <a href="/logout">
                    <span>
                        <i class="material-symbols-outlined">logout</i>
                        <span class="icon-text">Logout</span>
                    </span>
                </a>
                

            <% } else { %>
                <!-- If user is not logged in, show these links -->

                <a href="/login">
                    <span>
                        <i class="material-symbols-outlined">login</i>
                        <span class="icon-text">Login</span>
                    </span>
                </a>

                <a href="/register">
                    <span>
                        <i class="material-symbols-outlined">person_add</i>
                        <span class="icon-text">Sign Up</span>
                    </span>
                </a>

                <a href="/subscriptions">
                    <span>
                        <i class="material-symbols-outlined">storefront</i>
                        <span class="icon-text">Shop</span>
                    </span>
                </a>

            <% } %>
            <div class="navbar-btns">
                <button onclick="window.location.href='/new_note'" class="new-note-btn" style="box-shadow: none;">New Note</button>
                <br>
                <button onclick="window.location.href='/new_campaign'" class="new-campaign-btn" style="margin-top: 15px; box-shadow: none;">New Campaign</button>
            </div>
            <span class="material-symbols-outlined toggle-nav" onclick="toggleSidebar()">indeterminate_check_box</span>

        </div>
        </nav>
    </body>
</html>

<script>
    var mini = false;

    function toggleSidebar() {
        if (mini) {
            console.log('opening sidebar');

            document.getElementById("mySidenav").style.width = "250px";
           

           document.getElementById("dashboardContainer").style.marginLeft = "";

            var text = document.getElementsByClassName("icon-text")

            for (let i = 0; i < text.length; i++) {
                text[i].style.display = "inline";
            };

            this.mini = false;
        } else {
            console.log('closing sidebar');

            document.getElementById("mySidenav").style.width = "0px";
            
            document.getElementById("dashboardContainer").style.marginLeft -= "";

            var text = document.getElementsByClassName("icon-text")
            for (let i = 0; i < text.length; i++) {
                text[i].style.display = "none";
            };

            this.mini = true
        }
    }
</script>