<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="../../css/searchbar.css">

        <!-- Icons -->
        <link rel="stylesheet" href="https://fonts.sandbox.google.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
        <!-- Style Icons -->
        <style>
            .material-symbols-outlined {
              font-variation-settings:
              'FILL' 0,
              'wght' 100,
              'GRAD' 0,
              'opsz' 48
            }
        </style>
    </head>
    <body>
        <div class="topnav">
            <input type="text" placeholder="Search..">
          </div>
    </body>
    </html>
    
