<html>

    <%- include('./partials/head.ejs'); %>

<body>

    <%- include('./partials/searchbar.ejs');  %>
    <%- include('./partials/nav.ejs'); %>
    <a onclick="toggleSidebar()" class="toggle-nav medium material-icons" style="cursor: pointer;">menu</a>

    <h1>Fill Out The Form</h1>
    <br>
    <input type="text">
    <br>
    <input type="text">
    <br>
    <textarea name="" id="" cols="30" rows="10"></textarea>
    <br>
</body>

    <%- include('./partials/footer.ejs'); %>

</html>