<html>




    <%- include('./partials/head.ejs'); %>

<body>

    <%- include('./partials/nav.ejs'); %>


  <div class="form" id="dashboardContainer">
    <form class="regform" action="/user/forgot_password" method="POST">
        
      <h6 class="centre">scribblenotes.io</h6>   
      <br>
      <h5 class="centre">Forgot password?</h5>
      <br>
      <p class="centre form-label">Enter you email below</p>
      <br>
        <div class="mb-3">
          <label for="email" class="form-label">EMAIL</label>
          <input type="email" class="form-control" id="email" name="email">
        </div>
        
        <button type="submit" class="btn">Reset Password</button>
        <br>

        <br>

        <%- include ('./partials/messages.ejs'); %>

      </form>
    </div>
    

      


</body>

    <%- include('./partials/footer.ejs'); %>

</html>