<html>




    <%- include('./partials/head.ejs'); %>

<body>

    <%- include('./partials/nav.ejs'); %>
    <a onclick="toggleSidebar()" class="toggle-nav medium material-icons" style="cursor: pointer;">menu</a>


  <div class="form" id="dashboardContainer">
    <form class="regform" action="/user/login" method="POST">
        
      <a href="/" class="logo-a"><img src="../images/logo.jpg" alt="scribblenotes logo" class="logo"></a>
      <br>
      <h5 class="centre">Login</h5>
      <br>
      
        <div class="mb-3">
          <label for="email" class="form-label">EMAIL</label>
          <input type="email" class="form-control" id="email" name="email">
        </div>

        <div class="mb-3">
          <label for="password" class="form-label">PASSWORD</label>
          <input type="password" class="form-control" id="password" name="password">
          <a href='forgot_password' class="form-label" style="float: right; font-size: 12px;">Forgot Password?</a>
        </div>
        
        <button type="submit" class="btn">Log In</button>
        <br>
        <p class="centre form-label">Don't have account? 
          <a href="/register">Sign up </a></p>

        <%- include ('./partials/messages.ejs', errors); %>

      </form>
    </div>
    

      


</body>

    <%- include('./partials/footer.ejs'); %>

</html>