<html>

    <%- include('./partials/head.ejs'); %>

<body>

    <%- include('./partials/nav.ejs'); %>
    <a onclick="toggleSidebar()" class="toggle-nav medium material-icons" style="cursor: pointer;">menu</a>

  <div class="form" id="dashboardContainer">
    <form class="regform" action="/user/register" method="POST">


      <a href="/" class="logo-a"><img src="../images/logo.jpg" alt="scribblenotes logo" class="logo"></a>
      <br>
      <h5 class="centre">Sign Up</h5>
      <br>


        <div class="mb-3">
            <label for="username" class="form-label">YOUR NAME</label>
            <input type="text" class="form-control" id="username" name="username">
          </div>
          
        <div class="mb-3">
          <label for="email" class="form-label">EMAIL ADDRESS</label>
          <input type="email" class="form-control" id="email" name="email">
        </div>

        <div class="mb-3">
          <label for="password" class="form-label">PASSWORD</label>
          <input type="password" class="form-control" id="password" name="password">
        </div>

        <div class="mb-3">
            <label for="password2" class="form-label">CONFIRM PASSWORD</label>
            <input type="password" class="form-control" id="password2" name="password2">
          </div>
        
        <button type="submit" class="btn ">Register</button>
        <br>
        <p class="centre form-label">Already have account? 
          <a href="/login">Log In </a></p>
        <br>

        <br>
        <%- include ('./partials/messages.ejs'); %>
        

      </form>
    </div>
    
      


</body>

    <%- include('./partials/footer.ejs'); %>

</html>