<html>

    <%- include('./partials/head.ejs'); %>

<body>

    <%- include('./partials/nav.ejs'); %>


<div class="form">
    <div class="card-content">
       <div class="card-container">
        <div class="card-wrapper">
            <div class="card-header">Single Note</div>
            <div class="card-body">
                <div class="card-body-text">
                    Choose one of our handwriting styles <br>
                    Send to any country in the world <br>
                    Send within seven days 
                </div>
            </div>
            <div class="card-bottom-content">
                <div class="card-content">
                    <div class="card-price-bottom">
                        <span class="card-price-sign">$5</span> per note
                    </div>
                    <div  class="card-btn-bottom">   
                        Select
                    </div>
                </div>
              
            </div>
        </div>
        <div class="card-wrapper card-green card-text-white">
            <div class="card-header">Regular Sender</div>
            <div class="card-body">
                <div class="card-body-text">
                    A dedicated Account Manager to 
                    help organise your campaigns <br>

                    Notes send within five bussiness day <br>
                    Additional notes above 450 will be charge  at $4.00 per note
                </div>
            </div>
            <div class="card-bottom-content">
                <div class="card-content">
                    <div class="card-price-bottom">
                        <span class="card-price-sign">$5</span> per note
                    </div>
                    <div  class="card-btn-bottom">   
                        Select
                    </div>
                </div>
              
            </div>
        </div>
        <div class="card-wrapper card-old-green card-text-white">
            <div class="card-header">Bulk Notes</div>
            <div class="card-body">
                <div class="card-body-text">
                    A dedicated Account Manager to help organise your campaign
                    Address provide on request
                    Additional notes above 200 will be charged at $3.75 per note 
                    Notes sent whitin five bussiness day
                </div>
            </div>
            <div class="card-bottom-content">
                <div class="card-content">
                    <div class="card-price-bottom">
                        <span class="card-price-sign">$5</span> per note
                    </div>
                    <div  class="card-btn-bottom">   
                        Select
                    </div>
                </div>
              
            </div>
        </div>
       </div>
        
    </div>
</div>
      
  
      



</body>

    <%- include('./partials/footer.ejs'); %>

</html>