<html>

    <%- include('./partials/head.ejs'); %>

<body>

    <%- include('./partials/nav.ejs'); %>


<div class="form">
    <div class="content">
        <div class="card">
            <form action="payment/single_note" method="post">
                <input type="submit" value="Purchase a single Note" style="margin: 15px; padding: 15px; ">
            </form>
        </div> 
        
        
    </div>
</div>
      
  
      



</body>

    <%- include('./partials/footer.ejs'); %>

</html>