<html>
  <link
    href="https://fonts.googleapis.com/css?family=Poppins"
    rel="stylesheet"
  />

  <%- include('./partials/head.ejs'); %>

  <body style="font-family: Poppins">
    <%- include('./partials/nav.ejs'); %>

    <div class="form" id="dashboardContainer">
      <div class="card-content">
        <div class="card-container">
          <div class="card-wrapper">
            <div class="card-header">Single Note</div>
            <div class="card-body">
              <div class="card-body-text">
                <p>
                  Choose one of our handwriting styles
                </p>
                <p>
                  Send to any country in the world
                </p>
                <p>
                  Notes are sent within seven buisness days
                </p>
              </div>
            </div>
            <div class="card-bottom-content">
              <div class="card-content">
                <div class="card-price-bottom">
                  <span class="card-price-sign">$5</span> per note
                </div>
                <form action="payment/single_note" method="POST" >
                  <input type="submit" class="card-btn-bottom" value="select" />
                </form>
              </div>
            </div>
          </div>
          <div class="card-wrapper card-green card-text-white">
            <div class="card-header">Regular Sender</div>
            <div class="card-body">
              <div class="card-body-text">
                <p>
                  A dedicated Account Manager to help organise your campaigns
                </p>
                <p>Notes are sent within five business days</p>
                <p>
                  Additional notes above 50 will be charge at $4.00 per note
                </p>
              </div>
            </div>
            <div class="card-bottom-content">
              <div class="card-content">
                <div class="card-price-bottom">
                  <span class="card-price-sign">$200</span> per month
                </div>
                <% if (subscription == 'regular_sender') { %>
                  <form action="payment/create-customer-portal-session" method="POST" >
                    <input type="submit" class="card-btn-bottom" value="manage" />
                  </form>
                <% } else { %>
                  <form action="payment/regular_sender" method="POST" >
                    <input type="submit" class="card-btn-bottom" value="select" />
                  </form>
                <% } %>
              </div>
            </div>
          </div>
          <div class="card-wrapper card-old-green card-text-white">
            <div class="card-header">Bulk Notes</div>
            <div class="card-body">
              <div class="card-body-text">
                <p>
                  A dedicated Account Manager to help organise your campaigns
                </p>
                <p>
                  Address research provided on request 
                </p>
                <p>
                  Additional notes above 200 will be charged at $3.75 per note
                </p>
                <p>
                  Notes are sent whitin five business days
                </p>
              </div>
            </div>
            <div class="card-bottom-content">
              <div class="card-content">
                <div class="card-price-bottom">
                  <span class="card-price-sign">$450</span> per month
                </div>
                <% if (subscription == 'bulk_notes') { %>
                  <form action="payment/create-customer-portal-session" method="POST" >
                    <input type="submit" class="card-btn-bottom" value="manage" />
                  </form>
                <% } else { %>
                  <form action="payment/bulk_notes" method="POST" >
                    <input type="submit" class="card-btn-bottom" value="select" />
                  </form>
                <% } %>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>

  <%- include('./partials/footer.ejs'); %>
</html>
