<html>

    <%- include('./partials/head.ejs'); %>

<body>

    <%- include('./partials/nav.ejs'); %>


<div class="form">
    <div class="content">
       <div class="card-container">
        <div class="card-wrapper">
            <div class="card-header">Header</div>
            <div class="card-body">
                <div class="card-body-text">
                    is simply dummy text of the printing and typesetting jancuk
                </div>
            </div>
            <div class="card-bottom-content">
                <div class="card-content">
                    <div class="card-price-bottom">
                        <span class="card-price-sign">$5</span> per note
                    </div>
                    <div  class="card-btn-bottom">   
                        Select
                    </div>
                </div>
              
            </div>
        </div>
        <div class="card-wrapper card-green card-text-white">
            <div class="card-header">Header</div>
            <div class="card-body">
                <div class="card-body-text">
                    is simply dummy text of the printing and typesetting jancuk
                </div>
            </div>
            <div class="card-bottom-content">
                <div class="card-content">
                    <div class="card-price-bottom">
                        <span class="card-price-sign">$5</span> per note
                    </div>
                    <div  class="card-btn-bottom">   
                        Select
                    </div>
                </div>
              
            </div>
        </div>
        <div class="card-wrapper card-old-green card-text-white">
            <div class="card-header">Header</div>
            <div class="card-body">
                <div class="card-body-text">
                    is simply dummy text of the printing and typesetting jancuk
                </div>
            </div>
            <div class="card-bottom-content">
                <div class="card-content">
                    <div class="card-price-bottom">
                        <span class="card-price-sign">$5</span> per note
                    </div>
                    <div  class="card-btn-bottom">   
                        Select
                    </div>
                </div>
              
            </div>
        </div>
       </div>
        
    </div>
</div>
      
  
      



</body>

    <%- include('./partials/footer.ejs'); %>

</html>