<html>

    <%- include('./partials/head.ejs'); %>

<body>

    <%- include('./partials/nav.ejs'); %>


<div class="form">
    <div class="content">
        <div class="card">
            <form action="payment/single_note" method="post">
                <label for="quantity">Quantity: </label>
                <input type="text" name="quantity" value="1">
                <br>
                <input type="submit" value="Single Note">
            </form>
        </div> 
        <div class="card">
            <a href="#">Premium</a>
        </div> 
        <div class="card">
            <a href="#">Pro</a>
        </div> 
        
    </div>
</div>
      
  
      



</body>

    <%- include('./partials/footer.ejs'); %>

</html>