<html>

    <%- include('../partials/head.ejs'); %>

<body>
    <%- include('./partials/searchbar-basic.ejs');  %>
    <%- include('../partials/nav.ejs'); %>


<div class="form">
    <div class="content">
        Payment cancelled/failed.
    </div>
</div>
      
  
      



</body>

    <%- include('../partials/footer.ejs'); %>

</html>