<html>

    <%- include('../partials/head.ejs'); %>

<body>

    <%- include('../partials/nav.ejs'); %>


<div class="form">
    <div class="content">
        Payment successful.<br>
        This will be fixed, but you might have to log out and in again to see the updated amount of credits in user settings.
    </div>
</div>
      
  
      



</body>

    <%- include('../partials/footer.ejs'); %>

</html>