<html>

    <%- include('../partials/head.ejs'); %>

<body>
    <%- include('./partials/searchbar-basic.ejs');  %>

    <%- include('../partials/nav.ejs'); %>


<div class="form">
    <div class="content">
        Payment successful.<br>
        <br>
        This will be fixed, but you might have to log out and in again to see the updated amount of credits in user settings.<br>
        <br>
        If you do not see your credits updated, check the README file. In a development environment, some setup is needed to send a request to order fufillment
    </div>
</div>
      
  
      



</body>

    <%- include('../partials/footer.ejs'); %>

</html>