<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="../../css/card.css" />
  </head>
  <body>
    <div class="card">
      <div class="dashboard-card-header">
        <div class="dashboard-caption">
            <%- name %>
        </div>
        <div>
            Reminder
        </div>
    </div>
    <div>
      <p style="font-size: 13px; color: #a6acb1">Created On: <span class="dashboard-date"> <%- date %> </span></p>
    </div>
    <div class="dashboard-ava-container">
      <div class="dashboard-card-name">
        <div class="dashboard-ava">
          <img src="../images/avatar.png" alt="Avatar" class="dashboard-image"/> 
        </div>
        <div class="dashboard-text">
          <%= username %> 
        </div>
      </div>
      <div>
        <div class="dashboard-button dashboard-success">
          <%- status %>
        </div>
        <br />
        <br /> 
      </div>
    </div>
    </div>
  </body>
</html>
