*{
  scroll-behavior: smooth;
}
body {
  background-color: #f5f6f8;
}

.p {
  margin-bottom: 0;
  width: auto;
}

.navbar-btns {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-top: 50px;
}

.card-base {
  height: auto;
  width: auto;
  background: #ffffff;
  box-shadow: 0px 2px 10px rgb(0 0 0 / 8%);
  border-radius: 4px;
  border-width: 0;
  padding: 2vh;
  margin-bottom: 10px;
}

.form-wrapper {
  display: flex;
  flex-direction: row;
}

.video {
  width: 100%;
  margin-top: 2vh;
  display: flex;
  justify-content: center;
}

.upload-file {
  padding: 35;
  width: 380px;
  margin: auto;
}

.pending-box {
  background-color: #bebebe;
  margin-left: 15px;
  font-size: 11px;
  width: 84px;
  color: #fcfdfe;
  border-radius: 4px;
  border-width: 0;
}

.submit-btn {
  background-color: #027931;
  margin-left: 15px;
  font-size: 11px;
  width: 84px;
  color: #fcfdfe;
  border-radius: 4px;
  border-width: 0;
  height: 20px;
}
.new-note-btn {
  background-color: #21b499;
  margin: auto;
  margin-inline: 20px;
  width: 160px;
  height: 42px;
  color: #fcfdfe;
  box-shadow: 0px 4px 10px rgba(16, 156, 241, 0.24);
  border-radius: 4px;
  border-width: 0;
}

.new-note-btn:hover {
  -webkit-box-shadow: 1px 4px 6px 4px #ccc; /* Safari 3-4, iOS 4.0.2 - 4.2, Android 2.3+ */
  -moz-box-shadow: 1px 4px 6px 4px #ccc; /* Firefox 3.5 - 3.6 */
  box-shadow: 1px 4px 6px 4px #ccc;
}
.new-campaign-btn {
  background-color: #f24913;
  margin: auto;
  margin-inline: 20px;
  width: 160px;
  height: 42px;
  color: #fcfdfe;
  box-shadow: 0px 4px 10px rgba(16, 156, 241, 0.24);
  border-radius: 4px;
  border-width: 0;
}

.new-campaign-btn:hover {
  -webkit-box-shadow: 1px 4px 6px 4px #ccc; /* Safari 3-4, iOS 4.0.2 - 4.2, Android 2.3+ */
  -moz-box-shadow: 1px 4px 6px 4px #ccc; /* Firefox 3.5 - 3.6 */
  box-shadow: 1px 4px 6px 4px #ccc;
}

.small-btn {
  background-color: #21b499;
  margin: auto;
  margin-inline: 20px;
  width: 160px;
  height: 30px;
  color: #fcfdfe;
  box-shadow: 0px 4px 10px rgb(16 156 241 / 24%);
  border-radius: 4px;
  border-width: 0;
}

.save-settings-btn {
  background-color: #005030;
  margin: auto;
  margin-inline: 20px;
  width: 160px;
  height: 42px;
  color: #fcfdfe;
  box-shadow: 0px 4px 10px rgba(16, 156, 241, 0.24);
  border-radius: 4px;
  border-width: 0;
}

.save-settings-btn:hover {
  -webkit-box-shadow: 1px 4px 6px 4px #ccc; /* Safari 3-4, iOS 4.0.2 - 4.2, Android 2.3+ */
  -moz-box-shadow: 1px 4px 6px 4px #ccc; /* Firefox 3.5 - 3.6 */
  box-shadow: 1px 4px 6px 4px #ccc;
}

.close-account-btn {
  background-color: #ef3c3c;
  margin: auto;
  margin-inline: 20px;
  width: 160px;
  height: 42px;
  color: #fcfdfe;
  box-shadow: 0px 4px 10px rgba(16, 156, 241, 0.24);
  border-radius: 4px;
  border-width: 0;
}

.close-account-btn:hover {
  -webkit-box-shadow: 1px 4px 6px 4px #ccc; /* Safari 3-4, iOS 4.0.2 - 4.2, Android 2.3+ */
  -moz-box-shadow: 1px 4px 6px 4px #ccc; /* Firefox 3.5 - 3.6 */
  box-shadow: 1px 4px 6px 4px #ccc;
}

.navbar-btn {
  margin-bottom: 20px;
}

.navbar-btn:hover {
  -webkit-box-shadow: 0px 2px 4px 2px #4c4c4c; /* Safari 3-4, iOS 4.0.2 - 4.2, Android 2.3+ */
  -moz-box-shadow: 0px 2px 4px 2px #4c4c4c; /* Firefox 3.5 - 3.6 */
  box-shadow: 0px 2px 4px 2px #4c4c4c;
}

.btn {
  background-color: #027931;
  border-color: #027931;
  margin: 1%;
  margin-bottom: 10px;
  width: 100%;
  height: 48px;
  color: white;
  border-radius: 10;
}

.btn:hover {
  -webkit-box-shadow: 1px 4px 6px 4px #ccc; /* Safari 3-4, iOS 4.0.2 - 4.2, Android 2.3+ */
  -moz-box-shadow: 1px 4px 6px 4px #ccc; /* Firefox 3.5 - 3.6 */
  box-shadow: 1px 4px 6px 4px #ccc;
  color: white;
}

nav {
  height: 100%;
  width: 250px;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #005030;
  white-space: nowrap;
  overflow-x: hidden;
  overflow-y: auto; 
  transition: 0.3s;
}

.navContent {
  max-height: 100%;
}

nav a {
  display: inline;
  width: 80%;
  padding: 8px 8px 8px 8px;
  margin: 0 auto;
  text-decoration: none;
  align-items: center;
  color: white;
  display: block;
}
nav span {
  display: inline;
  margin-left: 16px;
}
.material-symbols-outlined,
nav span {
  margin-left: 21px;
  vertical-align: middle;
}

nav .toggle-nav {
  display: block;
  margin: 0 auto !important;
  margin-left: -12px !important;
  position: absolute;
  bottom: 20px;
  left: 50%;
}
.toggle-nav-closed {
  color: black !important;
  margin-top: -44px !important;
  margin-left: 20px !important;
}

nav a:hover {
  color: #9be0b7;
  text-decoration: none;
}

.mb-3 {
  position: center;
}

.form-label {
  color: #9fa2b4;
  font-size: 14px;
  /* font-family: mulish; */
}

.centre {
  text-align: center;
}

.title {
  text-align: left;
  padding: 1%;
}

.text {
  text-align: center;
}

.custom-file-upload {
  background-color: #9fa2b4;
  border: 1px solid #ccc;
  display: inline-block;
  padding: 6px 12px;
  cursor: pointer;
}

.text-large {
  font-size: 16px;
}

.text-med {
  font-size: 13px;
  color: #a6acb1;
}

.dashboard-btn-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.btn-child {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}

.btn-wrapper {
  margin-top: 2vh;
  display: flex;
  flex-direction: coloumn;
  justify-content: right;
}

/* Style the list */
ul.breadcrumb {
  padding: 5px 8px;
  list-style: none;
}

/* Display list items side by side */
ul.breadcrumb li {
  display: inline;
  font-size: 13px;
  color: #21b499;
}

/* Add a slash symbol (/) before/behind each list item */
ul.breadcrumb li + li:before {
  padding: 8px;
  color: #a6acb1;
  content: "/\00a0";
}

/* Add a color to all links inside the list */
ul.breadcrumb li a {
  color: #a6acb1;
  text-decoration: none;
}

/* Add a color on mouse-over */
ul.breadcrumb li a:hover {
  color: #86d3c5;
  text-decoration: underline;
}

/* Used For CARD SUBSCRIPTION */
.card-content {
  width: 90%;
  margin: auto;
  margin-top: 20px;
  align-items: center;
  z-index: 1;
  border-radius: 15px;
}

.card-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 2vh;
}
.card-green {
  background-color: #217855;
}
.card-old-green {
  background-color: #005030;
}
.card-text-black {
  color: #000;
}
.card-text-white {
  color: #fff;
}
.card-wrapper {
  width: 30%;
  height: 700px;
  border-radius: 5px;
  padding: 10px;
  position: relative;
  -webkit-box-shadow: 1px 4px 6px 4px #ccc; /* Safari 3-4, iOS 4.0.2 - 4.2, Android 2.3+ */
  -moz-box-shadow: 1px 4px 6px 4px #ccc; /* Firefox 3.5 - 3.6 */
  box-shadow: 1px 4px 6px 4px rgb(230, 230, 230);
}

.card-header {
  font-weight: normal;
  text-align: center;
  font-size: 32px;
  border-bottom: 1px rgb(170, 170, 170) solid;
  padding: 3vh;
  background: none;
}

.card-body-text {
  font-size: 14px;
  padding: 2vh;
}
.card-bottom-content {
  position: absolute;
  bottom: 30;
  width: 90%;
}
.card-content {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.card-price-sign {
  font-size: 40px;
  margin-right: 5px;
}
.card-btn-bottom {
  text-align: center;
  background-color: #ff5733;
  color: #fff;
  padding: 10px 60px;
  border-radius: 5px;
  cursor: pointer;
  border: none;
}

.dashboard-card-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.dashboard-ava {
  display: inline-block;
  margin-right: 15px;
}
.dashboard-text {
  display: inline-block;
  color: #707683;
}
.dashboard-image {
  width: 50px;
  height: 50px;
  border-radius: 100px;
}
.dashboard-caption {
  color: #323c47;
  font-size: 15px;
  margin-bottom: 7px;
}
.dashboard-date {
  color: #4c5862;
}
.dashboard-button {
  padding: 3px 8px;
  color: #fff;
  border-radius: 5px;
  font-size: 12px;
  text-align: center;
}

.dashboard-success {
  background-color: #2ed47a;
}
.dashboard-alert {
  background-color: #f7685b;
}

.dashboard-ava-container {
  display: flex;
  flex-direction: flow;
  align-items: center;
  justify-content: space-between;
  float: left;
}
#progressbar {
  background-color: #ebeff2;
  border-radius: 13px;
  /* (height of inner div) / 2 + padding */
  padding: 3px;
}

#progressbar > div {
  background-color: #2ed47a;
  width: 40%;
  /* Adjust with JavaScript */
  height: 5px;
  border-radius: 10px;
}
.dashboard-widget-number {
  font-size: 64px;
}
.dashboard-widget-title {
  display: inline-block;
  font-style: normal;
}
.dashboard-widget-subscription {
  font-size: 15px;
}
.dashboard-widget-up {
  font-size: 13px;
  color: #21b499;
}
.widget-container {
  -webkit-box-shadow: 1px 4px 6px 4px #ccc; /* Safari 3-4, iOS 4.0.2 - 4.2, Android 2.3+ */
  -moz-box-shadow: 1px 4px 6px 4px #ccc; /* Firefox 3.5 - 3.6 */
  box-shadow: 0px 2px 10px rgb(0 0 0 / 8%);
  width: 320px;
  height: 183px;
  padding: 20px;
  margin-bottom: 40px;
}
.dashboard-widget {
  justify-content: center;
  align-items: center;
  display: flex;
}
.widget-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  margin: auto;
  margin-top: 60px;
  margin-bottom: 60px;
}
.text-top {
  font-size: 16px;
}
/*
SETTING PAGE
*/
.field-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.field-container {
  margin-top: 40px;
  display: flex;
  flex-direction: column;
  width: 300px;
}
.text-label {
  font-style: normal;
  font-weight: 500;
  font-size: 11px;
  line-height: 16px;
  letter-spacing: 0.01em;
  color: #818e9b;
}

.text-field {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 0.01em;
  border: 0;
  border-bottom: 1px solid #d3d8dd;
  padding-bottom: 10px;
  width: 300px;
}

.change-password {
  margin-bottom: 30px;
  font-style: normal;
  font-weight: 500;
  font-size: 11px;
  display: flex;
  justify-content: right;
}
/* 
  ##Device = Desktops
  ##Screen = 1281px to higher resolution desktops
*/

@media (min-width: 1281px) {
  .new_note_form {
    display: flex;
    flex-direction: row;
  }

  .logo {
    display: block;
    margin: 0 auto;
    width: 60%; 
    border-radius: 0.5rem;
  }
  .material-symbols-outlined {
    color: white;
    cursor: pointer;
    display: block;
    margin: 0 auto;
  }

  .regform {
    width: 380px;
    margin: auto;
    background-color: white;
    margin-top: 50px;
    padding: 35;
    align-items: center;
    z-index: 1;
    border-radius: 2.5%;
  }

  .form-1 {
    margin-left: 250px;
    margin-top: 50px;
  }

  .form {
    margin: 50 0 50 250;
  }

  .form-control {
    width: 316px;
    height: 42px;
    background: #f0f1f7;
  }

  /* custom classes */

  .container {
    margin-top: 10%;
    width: 40%;
    height: 60%;
    /* display: flex; */
    justify-content: center;
    align-items: center;
    background-color: white;
  }

  .content {
    width: 90%;
    margin: auto;
    background: white;
    margin-top: 20px;
    padding: 35px;
    align-items: center;
    z-index: 1;
    border-radius: 15px;
  }

  .content-data {
    width: 100%;
    margin: auto;
    background-color: white;
    margin-top: 20px;
    padding: 10px;
    align-items: center;
    z-index: 1;
    border-radius: 2.5%;
  }
  .avatar {
    vertical-align: middle;
    width: 3%;
    height: 3%;
    border-radius: 50%;
  }
}

/* 
    ##Device = Laptops, Desktops
    ##Screen = B/w 1025px to 1280px
  */

@media (min-width: 1025px) and (max-width: 1280px) {
  .logo {
    padding: auto;
    margin: auto;
    width: 60%;
    height: auto;
    border-radius: 0.5rem;
  }

  .regform {
    width: 380px;
    margin: auto;
    background-color: white;
    margin-top: 50px;
    padding: 35;
    align-items: center;
    z-index: 1;
    border-radius: 2.5%;
  }

  .form {
    margin-left: 250px;
    margin-top: 50px;
  }

  .form-label {
    color: #9fa2b4;
    font-size: 14px;
    /* font-family: mulish; */
  }

  .form-control {
    width: 316px;
    height: 42px;
    background: #f0f1f7;
  }

  /* custom classes */

  .container {
    margin-top: 10%;
    width: 40%;
    height: 60%;
    /* display: flex; */
    justify-content: center;
    align-items: center;
    background-color: white;
  }

  .content {
    width: 90%;
    margin: auto;
    background: white;
    margin-top: 20px;
    padding: 35px;
    align-items: center;
    z-index: 1;
    border-radius: 15px;
  }

  .content-data {
    width: 100%;
    margin: auto;
    background-color: white;
    margin-top: 20px;
    padding: 10px;
    align-items: center;
    z-index: 1;
    border-radius: 2.5%;
  }

  nav span {
    color: white;
  }
}

/* 
    ##Device = Tablets, Ipads (portrait)
    ##Screen = B/w 768px to 1024px
  */

@media (min-width: 768px) and (max-width: 1024px) {
  .logo {
    padding: auto;
    margin: auto;
    width: 60%;
    height: auto;
    border-radius: 0.5rem;
  }

  .regform {
    width: 380px;
    margin: auto;
    background-color: white;
    margin-top: 50px;
    padding: 35;
    align-items: center;
    z-index: 1;
    border-radius: 2.5%;
  }

  .form {
    margin-left: 250px;
    margin-top: 50px;
  }

  .form-label {
    color: #9fa2b4;
    font-size: 14px;
    /* font-family: mulish; */
  }

  .form-control {
    width: 316px;
    height: 42px;
    background: #f0f1f7;
  }

  .container {
    margin-top: 10%;
    width: 40%;
    height: 60%;
    /* display: flex; */
    justify-content: center;
    align-items: center;
    background-color: white;
  }

  .content {
    width: 90%;
    margin: auto;
    background: white;
    margin-top: 20px;
    padding: 35px;
    align-items: center;
    z-index: 1;
    border-radius: 15px;
  }

  .widget-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: auto;
    margin-top: 60px;
    margin-bottom: 60px;
  }

  .content-data {
    width: 100%;
    margin: auto;
    background-color: white;
    margin-top: 20px;
    padding: 10px;
    align-items: center;
    z-index: 1;
    border-radius: 2.5%;
  }

  .btn-child {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  nav span {
    color: white;
  }
}

/* 
    ##Device = Tablets, Ipads (landscape)
    ##Screen = B/w 768px to 1024px
  */

@media (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {
  nav span {
    color: white;
  }

  .form-wrapper {
    display: flex;
    flex-direction: column;
  }

  .form {
    margin-left: 250px;
    margin-top: 50px;
  }

  .widget-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: auto;
    margin-top: 60px;
    margin-bottom: 60px;
  }

  .card-containers {
    display: flex;
    flex-direction: row;
  }
}

/* 
    ##Device = Low Resolution Tablets, Mobiles (Landscape)
    ##Screen = B/w 481px to 767px
  */

@media (min-width: 481px) and (max-width: 767px) {
  .dashboard-btn-wrapper {
    display: flex;
    flex-direction: column;
  }

  .logo {
    padding: auto;
    margin: auto;
    width: 60%;
    height: auto;
    border-radius: 0.5rem;
  }

  .widget-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: auto;
    margin-top: 60px;
    margin-bottom: 60px;
  }
  .regform {
    width: 380px;
    margin: auto;
    background-color: white;
    margin-top: 50px;
    padding: 35;
    align-items: center;
    z-index: 1;
    border-radius: 2.5%;
  }

  .form {
    margin-left: 50px;
    margin-top: 50px;
  }

  .form-label {
    color: #9fa2b4;
    font-size: 14px;
    /* font-family: mulish; */
  }

  .form-control {
    width: 316px;
    height: 42px;
    background: #f0f1f7;
  }

  /* custom classes */

  .container {
    margin-top: 10%;
    width: 40%;
    height: 60%;
    /* display: flex; */
    justify-content: center;
    align-items: center;
    background-color: white;
  }

  .content {
    width: 90%;
    margin: auto;
    background: white;
    margin-top: 20px;
    padding: 35px;
    align-items: center;
    z-index: 1;
    border-radius: 15px;
  }

  .content-data {
    width: 100%;
    margin: auto;
    background-color: white;
    margin-top: 20px;
    padding: 10px;
    align-items: center;
    z-index: 1;
    border-radius: 2.5%;
  }

  .btn-child {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .card-container {
    display: flex;
    flex-direction: column;
  }
  .card-wrapper {
    width: 100%;
    margin-bottom: 20;
  }

  nav span {
    color: white;
  }

  .field-container {
    width: 100%;
  }

  .sidenav {
    z-index: 99;
  }
}

/* 
    ##Device = Most of the Smartphones Mobiles (Portrait)
    ##Screen = B/w 320px to 479px
  */

@media (min-width: 320px) and (max-width: 480px) {
  .logo {
    padding: auto;
    margin: auto;
    width: 60%;
    height: auto;
    border-radius: 0.5rem;
  }

  .dashboard-btn-wrapper {
    display: flex;
    flex-direction: column;
  }

  .widget-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: auto;
    margin-top: 60px;
    margin-bottom: 60px;
  }

  .form {
    margin-left: 250px;
    margin-top: 50px;
  }
  .regform {
    width: 380px;
    margin: auto;
    background-color: white;
    margin-top: 50px;
    padding: 35;
    align-items: center;
    z-index: 1;
    border-radius: 2.5%;
  }

  .form-label {
    color: #9fa2b4;
    font-size: 14px;
    /* font-family: mulish; */
  }

  .form-control {
    width: 316px;
    height: 42px;
    background: #f0f1f7;
  }

  /* custom classes */

  .content {
    width: 90%;
    margin: auto;
    background: white;
    margin-top: 20px;
    padding: 20px;
    align-items: center;
    z-index: 1;
    border-radius: 15px;
  }

  .content-data {
    width: 100%;
    margin: auto;
    background-color: white;
    margin-top: 20px;
    padding: 10px;
    align-items: center;
    z-index: 1;
    border-radius: 2.5%;
  }

  .btn-child {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .card-container {
    display: flex;
    flex-direction: column;
  }
  .card-wrapper {
    width: 100%;
    margin-bottom: 20;
  }

  nav span {
    color: white;
  }

  .field-container {
    width: 100%;
  }
}

@media (max-width: 320px) {
  .logo {
    padding: auto;
    margin: auto;
    width: 60%;
    height: auto;
    border-radius: 0.5rem;
  }

  .dashboard-btn-wrapper {
    display: flex;
    flex-direction: column;
  }

  .widget-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: auto;
    margin-top: 60px;
    margin-bottom: 60px;
  }

  .btn-child {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .form {
    margin-left: 90px;
    margin-top: 50px;
  }
  .regform {
    width: 380px;
    margin: auto;
    background-color: white;
    margin-top: 50px;
    padding: 35;
    align-items: center;
    z-index: 1;
    border-radius: 2.5%;
  }

  .form-label {
    color: #9fa2b4;
    font-size: 14px;
    /* font-family: mulish; */
  }

  .form-control {
    width: 316px;
    height: 42px;
    background: #f0f1f7;
  }

  /* custom classes */

  .content {
    width: 90%;
    margin: auto;
    background: white;
    margin-top: 20px;
    padding: 20px;
    align-items: center;
    z-index: 1;
    border-radius: 15px;
  }

  .content-data {
    width: 100%;
    margin: auto;
    background-color: white;
    margin-top: 20px;
    padding: 10px;
    align-items: center;
    z-index: 1;
    border-radius: 2.5%;
  }

  nav span {
    color: white;
  }

  .field-container {
    width: 100%;
  }
}
